$clr-text-primary-pale-violet: hsl(276, 100%, 81%);
$clr-text-primary-moderate-violet: hsl(276, 55%, 52%);
$clr-text-primary-desaturated-violet: hsl(271, 15%, 43%);
$clr-text-primary-dark-violet: hsl(271, 36%, 24%);
$clr-text-primary-grayish-violet: hsl(270, 7%, 64%);
$clr-text-primary-grayish-blue: hsl(206, 6%, 79%);

$clr-gradient-magenta: hsl(293, 100%, 63%);
$clr-gradient-violet: hsl(264, 100%, 61%);

$clr-secondary-grayish-violet: hsl(270, 20%, 96%);
$clr-secondary-dark-violet: hsl(271, 36%, 24%);
$clr-secondary-light-magenta: hsl(289, 100%, 72%);

$break-medium: 768px;
$break-desktop: 1024px;
