.mobile {
  width: 31rem;
  height: 62rem;
  background-color: $clr-secondary-grayish-violet;
  border-radius: 4rem;
  border: 1.2rem solid white;
  position: relative;
  overflow: hidden;
  z-index: 9;
  box-shadow: 12px 10px 17px -11px rgba(0, 0, 0, 0.3);
  @media screen and (max-width: 500px) {
    transform: scale(0.8);
  }

  &__pill {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-6.5rem);
    width: 15rem;
    height: 2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  //   Header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 7.5rem;
    padding: 1rem;
    background-image: linear-gradient(
      to right,
      rgba($clr-gradient-violet, 0.7) 0.125%,
      $clr-gradient-magenta
    );
    border-radius: 0 0 0.5rem 0.5rem;
  }
  &__headerIcons {
    padding: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  &__user {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    cursor: pointer;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 2px solid white;
      margin-right: 1rem;
    }

    & .mobile__headings {
      h2 {
        font-size: 1.2rem;
        font-weight: 500;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        color: $clr-text-primary-pale-violet;
      }
    }
  }

  //   Content
  &__content {
    width: 100%;
    max-height: 47rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__chat {
    padding: 1rem;
    max-width: 60%;

    margin: 0.5rem 0;

    &--left {
      background-color: rgba($clr-secondary-light-magenta, 0.1);
      color: $clr-text-primary-moderate-violet;
      margin-left: 0;
      border-radius: 0.8rem 0.8rem 0.8rem 0.3rem;
    }

    &--right {
      background-color: white;
      color: $clr-text-primary-desaturated-violet;
      margin-left: auto;
      border-radius: 0.8rem 0.8rem 0.3rem 0.8rem;
    }

    &:nth-child(5) {
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  &__images {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0 0.5rem 0;
    img {
      width: 5rem;
      object-fit: contain;
      margin: 0 0.5rem;
      border-radius: 1.2rem;
    }
  }

  // Footer
  &__footer {
    width: 100%;
    padding: 1.25rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__input {
    background-color: white;
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 3rem;
    padding: 0 2rem;
    position: relative;

    &::placeholder {
      color: $clr-text-primary-grayish-blue;
    }
  }

  &__btnSubmit {
    position: absolute;
    right: 2rem;
    top: 3.25rem;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    background: $clr-secondary-dark-violet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: lighten($clr-secondary-dark-violet, 15%);
    }
  }
}
